.button {
    padding: 10px;
    border: 0 solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #2196f3;
    box-shadow: 0 4px 4px rgba(0,0,0,.15);
    opacity: 1;
    transition: opacity .25s cubic-bezier(.4,0,.2,1);
}

.button:hover,
.button:focus {
    opacity: 0.8;
    transition: opacity .25s cubic-bezier(.4,0,.2,1);
}

